.navbar-nav{
	font-size: 1.2em
}
.nav-item{
	padding: 0 10px;
}
.nav-item:hover{
	background: rgba(0, 0, 0, 0.9);
}
.navbar{
	padding-top:0!important;
	padding-bottom:0!important;
}
.nav-item a{
	text-transform: uppercase;
}
.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin .2s linear infinite; /* Safari */
  animation: spin .2s linear infinite;
  position: absolute;
  top: 45%;
  left: 45%;
}
.overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0
}
.card:hover{
	cursor: pointer;
	background: #4fa2af!important;
	color: #fff!important;
	font-size: .7em!important;
}
.card-columns{
	column-count: 2;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#app{
	margin-bottom: 100px;
}
.div-choose{
	border:1px solid #fafafa;
	padding: 5px;
}
.questionDiv p{
	display: inline;
}
.questionDiv li:hover, .questionDiv li.questionChoose{
	cursor: pointer;
	background: #faffb3;
	border-color: #ffc107;
}
.questionDiv li{
	list-style-type: none;
	padding: 5px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #fff;
    width: 24%;
}
#answerDiv p{
	display: block;
}
#answerDiv{
	background: #fafafa;
	padding: 5px 15px;
	margin-bottom: 5px;
	/*color:#155724;*/
	border-radius: 5px;
	border:1px solid #ddd; 
}
#msgResult{
	background: #fafafa;
	padding: 5px 15px;
	margin-bottom: 5px;
	border-radius: 5px;
	border:1px solid #ddd;
	display: none;
	margin-top:50px;
    font-size: 1.2em;
    font-weight: 1000; 
}